html {
    background:rgb(204, 204, 189);
    background-size: 100;
}

header {
    background-color:#5757578c;
    background-image: url("axe.jpg");
    background-repeat: no-repeat;
    height:500px;
    width:flex;
    color: white;
}



body {
background: url("../Images/axe.jpg");
}
#riches {
    text-decoration: underline;
    color: gold;
}